.main-footer {
    background: #F2F2F2;
    color: #333;
    padding-top: 70px;
    padding-bottom: 60px;
}

.main-footer a {
    color: #555;
    font-weight: 400;
}

.main-footer a:hover {
    color: red;
}

ul.menu-footer {
    margin-top: 3px;
}

ul.menu-footer li {
    margin-bottom: 7px;
}

ul.menu-footer li a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.4;
}
.secondary-footer {
    background: #292929;
    color: rgba(255, 255, 255, 0.5);
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 13px;
}

ul.secondary-footer-menu {
    margin: 0;
}

ul.secondary-footer-menu li {
    float: right;
}

ul.secondary-footer-menu li:not(:first-child):after {
    content: "|";
    margin: 0 15px;
}

ul.secondary-footer-menu li a {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 13px;
}

ul.secondary-footer-menu li a:hover {
    color: #FFF;
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {
    ul.menu-footer li {
        width: 100%;
        float: left;
    }
    ul.menu-footer li a {
        font-size: 13px;
    }
    ul.footer-faq li a {
        font-size: 12px;
    }
    .footer-wrapper .footer-newsletter h4 {
        text-align: left;
    }
    .footer-wrapper .secondary-footer,
    .footer-wrapper-09 ul.secondary-footer-menu {
        text-align: center;
    }
    .footer-wrapper ul.secondary-footer-menu li {
        float: none;
        display: inline-block;
    }
    .footer-wrapper ul.secondary-footer-menu li:after {
        content: "|";
        margin: 0 15px;
    }
    .footer-wrapper ul.secondary-footer-menu li:Last-child::after {
        display: none;
    }
    .social-footer a {
        font-size: 20px;
    }
}

.social-footer {
    text-align: center;
}

.social-footer a {
    font-size: 34px;
    margin: 5px;
}

p.footer-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    margin: 15px 0 8px;
}
